/* GENERAL */

/* leftCol */
.leftCol {
    flex: 0.7;
    /* background-color: red; */
}

/* rightCol */
.rightCol {
    display: flex;
    align-items: center;
    flex: 0.3;
    /* background-color: rgb(154, 153, 157); */
}

/* boxProducts */
.boxProducts {
    flex: 1;
    margin: 0 0 1rem 1rem;
    padding: 0;
    /* debug */
    /* background-color: rgb(45, 26, 115); */
}

.boxProducts h4,
.boxProducts h5 {
    text-align: center;
    padding: 1rem;
    /* debug */
    /* background-color: red; */
}

.boxProducts h6 {
    font-size: 1.2rem;
    font-weight: 350;
}


/* doughs */
.dough {
    display: flex;
    align-items: center;
    margin: 2rem 0;

    /* debug */
    /* background-color: plum; */
}

#wholeWheat {
    margin: 1rem 0;
}

/* extra */
.extra {
    display: flex;
    justify-content: end;
}

.extra p {
    text-align: center;
    font-size: 0.8rem;
    flex: 0.15;
}

.dough .leftCol {
    display: flex;
    align-items: center;
}

.dough .rightCol {
    justify-content: end;
}

.boxProducts img {
    width: 2rem;
    margin-right: 1rem;
}

/* price */
.dough .price {
    width: 50%;
    font-size: 1.2rem;
    text-align: center;
    font-size: 0.9rem;
}



/* .boxProducts .product { */
/* debug */
/* background-color: coral; */
/* height: 1000px; */
/* } */
/* product -> title */
.products .product {
    display: flex;
    margin: 2rem 0;
}

.product.unshow {
    display: none;
}


.products .product.disabled {
    /* background-color: red; */
    opacity: 0.5;

    filter: sepia(100%) brightness(80%);
}

.products h5 {
    text-align: center;
}

.products .title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.products .title img {
    width: 1rem;
}

.products .title img#spicy {
    transform: rotateZ(35deg);
}

/* product -> description */
.products .description {
    font-weight: 250;
    font-size: 0.85rem;
    padding-right: 0.5rem;

}

/* product -> alcoholVolume */
.products .alcoholVolume {
    font-weight: 150;
    margin-top: 0.3rem;
}

/* product -> allergens */
.products .allergens {
    margin-top: 0.5rem;
    display: flex;
    gap: 0.3rem;
}

.products .allergens span {
    display: flex;
    width: 0.9rem;
    height: 0.9rem;
    border: 1px solid var(--primary-gold);
    border-radius: 50%;
    padding: 0.1rem;
}

.products .allergens span img {
    width: 100%;
    margin: 0;
}

/* product -> productPrice */

/* productPrice */
.product .productPrice {
    flex: 1;
    font-size: 0.9rem;
    text-align: center;
    align-content: center;
    /* background-color: grey; */
}

/* textEnd */
.textEnd {
    display: flex;
    justify-content: end;
    /* text-align: end !important; */
}

.textEnd p {
    width: 50%;
}

.productPrice .text {
    font-size: 0.55rem;
    font-weight: 200;
}


.products .subtitle {
    display: flex;
    align-items: center;
}

.products .subtitle span {
    flex-grow: 1;
    height: 0.07rem;
    border-bottom: 0.07rem dotted var(--primary-brown);
    position: relative;
    /* background-color: rgb(136, 0, 255); */
}

.products .subtitle h5 {
    padding: 0 2rem;
    /* background-color: rgb(136, 0, 255); */
}

/* extraInfo */
.extraInfo {
    position: sticky;
    bottom: 0;
    background-color: var(--primary-white);
    font-size: 0.5rem;
    padding: 1rem 0;
}

/**+****************
DARK THEME
********************/
@media (prefers-color-scheme: dark) {
    .extraInfo {
        background-color: var(--primary-brown);
    }

}

/**+****************
TABLET VIEW
********************/
@media (max-width:768px) {
    .boxProducts {
        margin: 0 auto;
    }
    .dough {
        margin: 2rem 1rem;
    }

    #wholeWheat {
        margin: 0.5rem 1rem;
    }
    .extra p {
        padding: 1rem 1rem 0 0;

    }
    .boxProducts .products {
        margin: 0 1rem;
    }

    .extraInfo {
        font-size: 0.6rem;
        padding: 0.5rem 1rem 4rem 1rem;
        border-top: 0.5px solid var(--primary-brown);
    }
}

/**+****************
MOBILE VIEW
********************/
@media (max-width:576px) {
    .rightCol {
        gap: 0.3rem;
        align-items: center;
    }

    .products .description {
        padding-right: 1rem;
    }


    .flexBox {
        flex-direction: row !important;
        align-items: start !important;
        width: 30% !important;
    }
}
