footer {
    background-color: var(--primary-brown);
    color: var(--primary-white);
    text-align: center;
    padding: 0 40px;

    /* debug */
    /* height: 500px; */
}

@media (max-width:576px) {
    footer {
        padding: 0 20px;
    }
}

footer a {
    color: var(--primary-white);
}

footer.inverted {
    background-color: var(--primary-white);
    color: var(--primary-brown);
}

footer.inverted a {
    color: var(--primary-brown);
}

/* logo */
.logo {
    max-width: 500px;
}

/* channels */
.channels {
    display: flex;
    margin: 1rem 0;
    gap: 2rem;

    /* debug */
    /* background-color: blueviolet; */
}

.channels a {
    display: flex;
    width: 50%;
    text-decoration: underline;
    font-size: 1.5rem;
    transition: opacity 0.3s ease;
}

.channels a:nth-child(1) {
    justify-content: end;
    /* background-color: red; */
}

.channels a:hover {
    opacity: 0.6;
}

.channels a img {
    height: 3rem;
}

@media (max-width:768px) {

    /* socials = channels */
    .socials.channels {
        display: block;
    }

    .socials.channels a {
        display: block;
        width: 100%;
        margin: 0.5rem 0;
    }
}

/* pIva */
.pIva {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

/* madeBy */
.madeBy {
    padding: 1.5rem;
}