footer {
    background-color: var(--primary-brown);
    color: var(--primary-white);
    text-align: center;
    padding: 0 40px;

    /* debug */
    /* height: 500px; */
}

@media (max-width:576px) {
    footer {
        padding: 0 20px;
    }
}

footer a {
    color: var(--primary-white);
}

footer.inverted {
    background-color: var(--primary-white);
    color: var(--primary-brown);
}

footer.inverted a {
    color: var(--primary-brown);
}

@media (prefers-color-scheme: dark) {
    footer{
    border-top:0.5px solid var(--primary-white);

    }
    footer.inverted {
    background-color: var(--primary-brown);
    color: var(--primary-white);
}
footer.inverted a {
    color: var(--primary-white);
}
}


/* logo */
.logo {
    max-width: 500px;
}

/* channels */
.channels {
    display: flex;
    justify-content: center;
    margin: 1rem auto;
    gap: 3rem;

    /* debug */
    /* background-color: blueviolet; */
}

.channels a {
    text-decoration: underline;
    transition: opacity 0.3s ease;
}

.channels a:nth-child(2) {
    justify-content: center;
    /* background-color: red; */
}

.channels a:hover {
    opacity: 0.6;
}

.channels a img {
    height: 3rem;
}

@media (max-width:768px) {

    /* socials = channels */
    .socials.channels a img{

        height: 2.5rem;
    }

    .socials.channels a {
        margin: 0.5rem 0;
    }
}

/* pIva */
.pIva {
    margin-top: 4rem;
    margin-bottom: 1rem;
}

/* madeBy */
.madeBy {
    padding: 1.5rem;
}