.scrollButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1000;

    opacity: 0;
    transform: translateY(20px);
    /* inizialmente un po’ più in basso */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.scrollButtonVisible {
    opacity: 1;
    transform: translateY(0);
    /* quando visibile: posizione normale */
}