/* GENERAL RULES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* <html>, <body> noScroll */
html.noScroll,
body.noScroll {
    overflow: hidden;
}

:root {
    /* font */
    font-family: "Raleway", serif;
    font-weight: 300;
    font-size: 18px;

    /* colours */
    --primary-brown: #311B04;
    --secondary-brown: #612D06;
    --terziary-brown: #7A3907;

    --primary-white: #F7F1E7;
    --secondary-white: #FEFDFC;

    --primary-gold: #B8860B;
}

@media (max-width:576px) {
    :root {
        font-size: 16px;
    }
}

/* <main> */
main {
    position: relative;
    background-color: var(--primary-white);
    color: var(--primary-brown);
}

main.inverted {
    background-color: var(--primary-brown);
    color: var(--primary-white);
}

/* <h1>,<h2>,<h3>,<h4>,<h5>,<h6> */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.45rem;
    font-weight: 150;
}

h3 {
    font-size: 1.95rem;
    font-weight: 150;
}

h4 {
    font-size: 1.56rem;
    font-weight: 300;
}

h5 {
    font-size: 1.25rem;
    font-weight: 300;
}

h6 {
    font-size: 1rem;
    font-weight: 150;
}


/* <ul> -> <li> */
ul li {
    list-style: none;
}

/* <li> <a> */
li a {
    text-decoration: none;
}

/* <button> */
button {
    all: unset;
}


/* input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
} */