/* hero */
.hero {
    position: relative;
    top: -60px;
}

.hero video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

/* textBox */
.hero .textBox {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    /* debug */
    /* background-color: red; */
}

.hero .textBox p {
    color: var(--primary-white);
    font-size: 1.5rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
}

.hero .arrowBox {
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translate(-50%, -5%);
    animation: moveUpDown 3s infinite;
    /* debug */
    /* background-color: red; */
}

.arrowBox img {
    height: 5rem;

}

@keyframes moveUpDown {
    0% {
        bottom: 4%;
    }

    50% {
        bottom: 0%;
    }

    100% {
        bottom: 4%;
    }
}

/* presentation */
.presentation {
    text-align: center;
    /* debug */
    /* background-color: rgb(0, 195, 255); */
}

/* welcome */
.presentation .welcome {
    display: flex;
    border-top: 1px solid var(--primary-brown);
    border-bottom: 1px solid var(--primary-brown);
    padding: 0 40px;

    /* debug */
    /* height: 200px; */
    /* background-color: red; */
}

.presentation .welcome div {
    width: 100%;
    object-fit: fill;
    border-left: 1px solid var(--primary-brown);
    border-right: 0.5px solid var(--primary-brown);

    /* debug */
    /* background-color: purple; */
}

/* imgBox */
.presentation .welcome .imgBox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* textBox */
.presentation .welcome .textBox {
    display: flex;
    align-items: center;
    line-height: 1.8rem;
    /* debug */
    /* background-color: purple; */
}

.welcome .textBox p {
    padding: 2rem;

    /* debug */
    /* background-color: green; */
}

@media (max-width:768px) {
    .presentation .welcome {
        border: none;
    }

    .presentation .welcome div {
        border: none;
    }

    .presentation .welcome .imgBox {
        display: none;
    }

    .welcome .textBox p {
        padding: 0;
    }
}

/* boxLink */
.presentation .boxLink {
    display: flex;
    align-items: center;
    justify-content: center;
    /* altezza elemento */
    min-height: 500px;

    /* debug */
    /* background-color: rgba(187, 208, 82, 0.495); */
}

@media (max-width:567px) {
    .presentation .boxLink {
        margin: 0;
        min-height: 320px;
    }
}

.presentation .boxLink button {
    position: relative;
}

.presentation .boxLink a {
    position: relative;
    font-weight: 600;
    border: 1px solid var(--primary-brown);
    background-color: var(--secondary-white);
    color: var(--primary-brown);
    text-decoration: none;



    -webkit-box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;

    z-index: 2;
    /* debug */
}


@media (max-width:567px) {
    .presentation .boxLink a {
        font-size: 0.8rem;
        padding: 1rem 1.5rem;
    }
}

/* peel */
.presentation .boxLink .peel {
    position: absolute;
    width: 15rem;
    z-index: 0;
    top: 50%;
    left: 5%;
    transition: transform 1s ease-in-out;

}

@media (max-width:567px) {
    .presentation .boxLink .peel {
        width: 12rem;
    }
}

.presentation .boxLink .peel:nth-child(1) {
    transform: rotateZ(60deg) rotateX(180deg) translate(-40%, -75%);

}

.presentation .boxLink .peel:nth-child(2) {
    transform: rotateZ(120deg) translate(-40%, -75%);
}

.boxLink button:hover .peel:nth-child(1) {
    transform: rotateZ(90deg) rotateX(0deg) translate(-30%, 0%);
    animation: pellForward1 forwards 2s;
    animation-delay: 1s;
}

.boxLink button:hover .peel:nth-child(2) {
    transform: rotateZ(90deg) rotateX(180deg) translate(-30%, 0%);
    animation: pellForward2 forwards 2s;
    animation-delay: 1s;
}

/* animation peel left */
@keyframes pellForward1 {
    0% {
        top: 50%;
    }

    25% {
        top: 40%;
        transform: rotateZ(90deg) rotateX(0deg) rotateY(40deg) translate(-30%, 0%);
    }

    50% {
        top: 30%;
        transform: rotateZ(90deg) rotateX(0deg) rotateY(40deg)translate3d(0, 0, -50px) translate(-30%, 0%);
    }

    100% {
        top: 50%;
    }
}

/* animation peel right */
@keyframes pellForward2 {
    0% {
        top: 50%;
    }

    25% {
        top: 40%;
        transform: rotateZ(90deg) rotateX(180deg) rotateY(40deg) translate(-30%, 0%);
    }

    50% {
        top: 30%;
        transform: rotateZ(90deg) rotateX(180deg) rotateY(40deg)translate3d(0, 0, -50px) translate(-30%, 0%);
    }

    100% {
        top: 50%;
    }
}