/* boxNavbar */

.boxNavbar {
    min-width: 300px;
    flex: 0 0 33.33%;
    border-right: 0.5px solid var(--primary-brown);
    border-left: 0.5px solid var(--primary-brown);
    z-index: 1000;
}

/* navbar */
.boxNavbar .navbar {
    position: sticky;
    top: 80px;
    /* debug */
    /* height: 300px; */
    z-index: 1000;
    background-color: var(--primary-white);
}

@media (max-width:768px) {
    .boxNavbar {
        position: sticky;
        width: 100vw;
        min-width: 0;
        /* padding: 0 0.1rem; */
        top: 60px
    }

    .boxNavbar .navbar {
        top: 100px;
        z-index: 1100;
        width: 100vw;
    }
}

/* pcTitle */
.navbar .pcTitle {
    text-align: center;
    margin: 1rem 0;
}

@media (max-width:768px) {
    .navbar .pcTitle {
        display: none;
    }
}

/* navBarItems */
.navbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 0.5rem; */

    height: 4rem;

    border-top: 0.5px solid var(--primary-brown);
    border-bottom: 0.5px solid var(--primary-brown);
}

@media (max-width:768px) {
    .navbarItems {
        height: 3rem;
    }
}

/* col */
.navbarItems .col {
    display: flex;
    width: 50%;
    font-size: 1.3rem;
    font-weight: 300;

    /* debug */
    /* background-color: pink; */
}

@media (max-width:768px) {
    .navbarItems .col {
        width: 33.33%;
    }
}

@media (max-width:576px) {
    /* .navbarItems .col {
        width: 0;
    } */
}

.navbarItems .item img {
    height: 1.5rem;
}

/* item */
.navbarItems .item {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
    padding: 0 1rem;

    /* debug */
    /* background-color: green; */
}

/* navDoc */
.navbarItems .navDoc {
    margin-right: auto;
}


@media (max-width:575px) {
    .navbarItems .navDoc span {
        display: none;
    }
}

/* navMenu */
.navbarItems .navMenu {
    display: none;
}

@media (max-width:768px) {
    .navbarItems .navMenu {
        display: flex;
        margin: 0 auto;
    }
}

/* navFilter */
.navbarItems .navFilter {
    margin-left: auto;
}

.navbarItems .navFilter div {
    position: relative;

    /* debug */
    /* background-color: brown; */
}

/* navFilter -> counter */
.counter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -0.3rem;
    left: -0.4rem;
    padding-bottom: 0.1rem;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 999px;
    width: 1.1rem;
    color: var(--primary-white);
    background-color: var(--primary-gold);
}

@media (max-width:575px) {
    .navbarItems .navFilter span {
        display: none;
    }
}

/* boxNavList */
.navbar .boxNavList {
    padding: 1rem;
    border-bottom: 0.5px solid var(--primary-brown);
    overflow-y: auto;
    max-height: 73vh;
    scrollbar-width: thin;
}

@media (max-width:768px) {
    .navbar .boxNavList {
        padding: 0;
    }

    .navbar .boxNavList.isOpen {
        padding: 0.5rem;
    }

    .navbar .navList {
        text-align: center;
        overflow: hidden;
        max-height: 0;
        opacity: 0;
    }

    .navbar .navList.isOpen {
        animation: slideDown 1s ease-in-out forwards;
    }

    .navbar .navList.isClosed {
        animation: slidein 1s ease-in-out forwards;
    }

    @keyframes slideDown {
        0% {
            max-height: 0;
            opacity: 0;
            transform: translateY(-10px);
        }

        100% {
            max-height: 700px;
            /* imposta in base al contenuto reale */
            opacity: 1;
            transform: translateY(0);
        }
    }

    @keyframes slidein {
        0% {
            max-height: 700px;
            /* imposta in base al contenuto reale */
            opacity: 1;
            transform: translateY(-0.1rem);
        }

        100% {
            max-height: 0;
            opacity: 0;
            transform: translateY(-0.5rem);
        }
    }
}


.navbar .navList li {
    font-size: 1.2rem;
    line-height: 1rem;
    margin: 1rem 0;
    cursor: pointer;
    /* debug */
    /* background-color: peru; */
}

.navbar .navList li::before {
    opacity: 0;
}

.navbar .navList li.active {
    font-weight: 500;
    display: flex;
    text-align: center;
}

.navbar .navList li.active::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('/src/assets/svg/general/arrow-right.svg');
    background-size: contain;
    background-repeat: no-repeat;
    /* font-size: 0.5rem; */
    /* padding-right: 0.2rem; */
    opacity: 1;
}

@media (max-width:768px) {
    .navbar .navList li.active {
        justify-content: center;
    }

    .navbar .navList li.active::before {
        content: '';
        padding-right: 0;
    }
}

.navbar .navList li:hover {
    font-weight: 500;
}